@font-face {
    font-family: roboto;
    src: url(/fonts/roboto/Roboto-Black.ttf);
}

html {
    direction: ltr;
}

* {
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0;
}

body {
    background-color: #f8f8f8;
    text-align: center;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #727272;
    /* min-width: 500px; */
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.saved-memes,
.about {
    margin-top: 20px;
}

body.show-menu * {
    background: #ff9826;
    box-shadow: 0px 1px 0px #dbdbdb;
}

body.show-menu .logo-img {
    display: none;
}

body.show-menu .main-nav {
    display: flex;
    /* inset: 0; */
    /* width: 100vw;
        height: 100vh; */
    z-index: 5;
}

body.show-menu img.pick {
    display: none;
}

body.show-menu .main-nav ul > * {
    height: 33.33vh;
    /* justify-content: center; */
    text-align: center;
}

body.show-menu .menu-btn {
    color: white;
}

.smaller-txt {
    font-size: 0.7rem;
}

.header-layout {
    position: relative;
    width: 100%;
    height: 50px;
    /* left: 0px; */
    top: 0px;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0px 1px 0px #dbdbdb;
}

.logo-img {
    position: absolute;
    width: 152px;
    height: 32px;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.main-nav {
    justify-content: center;
    display: none;
    padding: 0;
}

.main-nav ul {
    list-style: none;
    list-style-type: none;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}

.main-nav ul li {
    /* margin-top: 70%; */
    width: 100vw;
    cursor: pointer;
    padding-top: 100px;
}

ul li:nth-child(2) {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    border: none;
}

.menu-btn {
    position: absolute;
    /* left: 90.93%; */
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    /* bottom: 96.43%; */

    background: #ffffff;
    border: none;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
    padding: 60px;
    width: auto;
    margin: 0 auto;
}

.item {
    background-color: lightskyblue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    padding: 13px;
}

.go-back {
    border: 1px solid black;
    display: none;
}

.pick {
    width: 100%;
}

.pick {
    cursor: pointer;
}

.font-color,
.stroke-color {
    display: none;
}

.editor {
    width: 80vw;
}

#canvas {
    margin-top: 20px;
    max-width: 80vw;
}

.editor-tools {
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    z-index: -2;
}

.editor-tools-first-line {
    display: flex;
    flex-direction: row;
    gap: 12%;
}

.tools-headline {
    text-align: left;
    margin-left: 14%;
}

.editor-tools-second-line {
    margin-left: 12%;
    /* margin-left: 2%; */
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 6.5%;
}

.no-border {
    border: none;
    background-color: transparent;
}

.increase-font,
.decrease-font {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 1.1rem;
    color: #727272;
}

.decrease-font {
    font-size: 0.9rem;
}

.line-input-form input {
    margin-top: 10px;
    width: 400px;
    height: 2em;
    /* border: none; */
}

.download-meme-ontainer {
    margin-top: 20px;
}

.download-meme {
    position: relative;
    top: 40px;
    margin-bottom: 30px;
    /* width: 350px; */
    /* height: 42px; */

    background: #ff9826;
    border: 1px solid #ff9826;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: lighter;
    text-decoration: none;
    padding: 10px;
    z-index: -1;
}

@media (min-width: 950px) {
    .editor {
        display: flex;
        flex-direction: row;
    }
}
